
<div class="jumbotron"> <h1> Our Teams </h1> </div>
<div class="indented">
  <% teams.forEach(function(team) { %>
   <h3><a href="teams/<%= team.name %>"> <%= team.name %></a></h3><br>
   <p> <%= team.members %></p>

    <hr />
  <% }) %>
</div>
